# Archivo de configuracion del canal

# TICO | LETRERO | EQUIDAD
flow_algo=TICO
# FCFS | RR | PRIORITY | SJF | STRN | EDF
sched_algo=PRIORITY

# Quantum en ms para RR si este no se usa ignorar
quantum_ms=300

# Largo del canal en unidades logicas
canal_length=30
max_ships=1
queue_visible=4

letrero_ms=4000
equidad_w=2