# Archivo de configuracion del canal
# CE 4303 - Scheduling Ships

# Algoritmo de flujo:
# TICO | LETRERO | EQUIDAD
flow_algo=TICO

# Algoritmo de calendarizacion:
# FCFS | RR | PRIORITY | SJF | STRN | EDF
sched_algo=FCFS

# Quantum en ms para RR.
# Si no se usa RR, se ignora.
quantum_ms=100

# Largo del canal en unidades logicas
canal_length=12

# Maximo de barcos dentro del canal.
# Para evitar colisiones y rebases, usar 1.
max_ships=1

# Maximo de barcos en espera por lado.
# Segun el enunciado, maximo 4.
queue_visible=4

# Tiempo del letrero en ms, solo para LETRERO
letrero_ms=4000

# Barcos por lado, solo para EQUIDAD
equidad_w=3